name: C/C++ CI with Make

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-and-run:
    runs-on: ubuntu-latest

    steps:
    - name: Check out code
      uses: actions/checkout@v4

    - name: Set up compiler
      run: |
        sudo apt-get update
        sudo apt-get install -y g++

    - name: Build
      run: make

    - name: Run
      run: make run
